<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/home.css">
    <title>Historial</title>
</head>
<body>
    <header class="header">
        <h1 title="El clima">El clima</h1>
    </header>
    <div class="body">
        <div class="body-h2">
            <h2 title="Historial de búsqueda">Historial de búsqueda</h2>
        </div>
        <div class="body-table"> 
            <table class="tablaLibros" id="tablaLibros">
                <thead>
                    <tr class="tablaTitulos">
                        <td class="tablaTitulosTd" title="Ciudad">Ciudad</td>
                        <td class="tablaTitulosTd" title="Latitud">Latitud</td>
                        <td class="tablaTitulosTd" title="Longitud">Longitud</td>
                        <td class="tablaTitulosTd" title="Clima">Clima</td>
                        <td class="tablaTitulosTd" title="Temperatura">Temperatura</td>
                        <td class="tablaTitulosTd" title="Temperatura Maxima">Temperatura Maxima</td>
                        <td class="tablaTitulosTd" title="Temperatura Mínima">Temperatura Mínima</td>
                        <td class="tablaTitulosTd" title="Sensación Térmica">Sensación Térmica</td>
                    </tr>
                </thead>
                <tbody id="tablaElementos">
                    <tr>
                        <td class="tablaElementosTd" title="1">1</td>
                        <td class="tablaElementosTd" title="Emma">Emma</td>
                        <td class="tablaElementosTd" title="Jane Austin">Jane Austin</td>
                        <td class="tablaElementosTd" title="Novela">Novela</td>
                        <td class="tablaElementosTd" title="Romance">Romance</td>
                        <td class="tablaElementosTd" title="No">No</td>
                        <td class="tablaElementosTd" title="-">-</td>
                        <td class="tablaElementosTd" title="Si">Si</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>